streamlit
PyMuPDF
sentence-transformers
pinecone-client
huggingface-hub
gTTS
together
transformers
sounddevice
SpeechRecognition
ipython
numpy
scipy
pyaudio
pydub
streamlit-player
requests
feedparser
PyMuPDF
PyPDF2
pandas
scikit-learn
nltk
numpy
matplotlib
seaborn
